/*****************************************************************************\

  ABOUT

\*****************************************************************************/



/**
 *
 * Theme: Minimal Monospace
 * Description: A clean, minimal design 
 * Author: Dolphus Bryant
 * Contact: dolphus@dolph.us
 *
 */



/*****************************************************************************\

  TABLE OF CONTENTS

\*****************************************************************************/



/**
 *
 * 1. Globals
 * 2. Banners
 * 3. Navigation
 * 4. About
 * 5. Posts
 * 6. Pretty Code
 * 7. Projects
 * 8. Contact
 * 9. Footer
 *
 */



/*****************************************************************************\

  1. GLOBALS

\*****************************************************************************/



* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  font-family: "Ubuntu Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

h1 { font-family: "Roboto Mono", monospace; }

a { text-decoration: none; }

p { line-height: 1.5; }

button { 
  cursor: pointer;
  width: auto;
}

section {
  margin-top: 60px;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0px auto;
  flex: 1;
}



/*****************************************************************************\

  2. BANNERS

\*****************************************************************************/



.banner {
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0px 0px 50px 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.about-bg {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banners/about-bg.jpg");
}

.contact-bg {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banners/contact-bg.jpg");
}

.projects-bg {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banners/projects-bg.jpg");
}

.posts-bg {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banners/posts-bg-2.jpg");
}

.resume-bg {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../img/banners/resume-bg.jpg");
}



/*****************************************************************************\

  3. NAVIGATION

\*****************************************************************************/



nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  flex-flow: 1;
  list-style-type: none;
  padding: 0px 15px;
}



/*****************************************************************************\

  4. ABOUT

\*****************************************************************************/



.about-img {
  border-radius: 100%;
  margin: 5px 10px 10px 0px;
  filter: grayscale(1);
  float: left;
  height: 150px;
}



/*****************************************************************************\

  5. POSTS

\*****************************************************************************/



.post { margin-bottom: 60px; }

.post-details {
  font-size: .66em;
  font-style: italic;
  padding-left: 25px;
}

.new-post form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
}

.new-post form > input, textarea, button {
  font-family: "Ubuntu Mono";
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.new-post form > textarea {
  height: 300px;
}



/*****************************************************************************\

  6. PRETTY CODE

\*****************************************************************************/



prettyprint {
  width: 90px;
}

pre.lang-html {
  border: 7px solid #006400;
  line-height: 0.2em;
}

.code-html h1 {
  background-color: #006400;
  margin-bottom: 0;
  padding: 5px;
  font-family: monospace;
  font-size: 1em;
}

pre.lang-css { border: 7px solid #C23B22; }

.code-css h1 {
  background-color: #C23B22;
  margin-bottom: 0;
  padding: 5px;
  font-size: 1em;
}

pre.lang-js { border: 7px solid #2D4571; }

.code-js h1 {
  background-color: #2D4571;
  margin-bottom: 0;
  padding: 5px;
  font-size: 1em;
}

pre.lang-php { border: 7px solid #b19cd9; }

.code-php h1 {
  background-color: #b19cd9;
  margin-bottom: 0;
  padding: 5px;
  font-family: monospace;
  font-size: 1em;
}



/*****************************************************************************\

  7. PROJECTS

\*****************************************************************************/



.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  text-align: center;
  width: 260px;
  margin: 2px;
}

.project p { text-align: left; }

.project-thumbnail {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 10px;
}



/*****************************************************************************\

  8. CONTACT

\*****************************************************************************/



.contact {
  display: flex;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  justify-content: space-between;
}

.contact-form * {
  font-family: "Ubuntu Mono";
  border: 1px solid black;
  padding: 5px;
}

.contact-form textarea { height: 200px; }

.contact-links {
  align-items: baseline;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.contact-links li a img {
  vertical-align: middle;
  margin-right: 15px;
  width: 30px;
}

.contact-links li { align-self: auto; }



/*****************************************************************************\

  9. FOOTER

\*****************************************************************************/



footer {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}